.ray-main-heading {
    font-size: 30px !important;
    font-weight: bolder;
    font-family: "Quicksand", sans-serif !important;
}

.ray-sub-heading {
    color: #F7D899;
    font-size: 16px !important;
    font-weight: 600;
    font-family: "Quicksand", sans-serif !important;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.ray-desc-text {
    font-size: 13px !important;
    font-weight: 400 !important;
    font-family: "Montserrat", sans-serif !important;
    color: #eeeeee;
}